.Chat-main
  .group-info
    .info-left
      .info-left__test
        = @group.name
      %ul.info-left__member-name
        = "Member:"
        %li.info-left__member
          - @group.users.each do |user|
            = user.name
    .info-right
      = link_to edit_group_path(@group), class: 'edit-btn' do
        Edit

  .message-list
    = render @messages
  
  .message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'